<nav class="navbar navbar-expand-sm navbar-custom">
  <a routerLink="/home" class="navbar-brand appclass">ProductApp</a>  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hvsjf" routerLinkActive="active">Services</a>
      </li>
    </ul>
</nav>